.earlyaccess {
  background-color: $bg-intro-email;
  border-radius: 7px;
  padding: $padding;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5 * $margin;
  margin-bottom: -12em;
  position: relative;

  @media (min-width: $mobile) {
    width: 80%;
  }

  @media (min-width: $tablet) {
    width: 60%;
  }

  &__emailform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (min-width: $tablet) {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      margin-top: $margin;
    }
  }

  &__input {
    border-radius: 4em;
    padding: 1.6 * $padding;
    font-size: 0.6em;
    border: none;
    text-decoration: none;
    font-family: $font-family;
    outline: none;
    margin-bottom: $margin;
    width: 80%;

    @media (min-width: $mobile) {
      width: 55%;
    }

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: lightslategray;
    }
  }
}

.btn--earlyaccess {
  width: 80%;
  padding: 1.5 * $padding (4 * $padding);
  font-size: 60%;

  @media (min-width: $mobile) {
    width: 60%;
  }

  @media (min-width: $tablet) {
    width: 40%;
  }
}
