.features {
  margin-top: 5 * $margin;

  @media (min-width: $mobile) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  .feature {
    margin-bottom: 5 * $margin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (min-width: $mobile) {
      width: 47%;
    }

    &__text {
      max-width: 90%;
      // margin: (2 * $margin) 0 (3 * $margin) 0;

      @media (min-width: $mobile) {
        margin: 0;
      }
    }

    &__heading {
      margin: 0;

      @media (min-width: $mobile) {
        margin: 1em;
      }
    }
  }
}
