header {
  display: flex;
  width: 100vw;
  margin: auto;
  justify-content: space-between;
  padding: $padding;
  nav {
    ul {
      list-style: none;
      display: flex;
      a {
        padding: $padding;
        color: white;
        text-decoration: none;
      }
    }
  }
}
