.header {
  display: flex;
  flex-direction: row;
  background-color: $bg-intro-email;
  align-items: center;
  padding: $padding 0.5 * $padding;

  @media (min-width: $tablet) {
    padding: 2 * $padding $padding;
    justify-content: space-between;
  }

  &__logo {
    width: 30%;

    @media (min-width: $tablet) {
      width: 20%;
    }

    //to make distance from border of page same for logo and nav__item--header
    padding: 0.5 * $padding;
  }
}
