.promotion {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 (2 * $padding);
  justify-content: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    width: 90%;
    align-items: center;
  }

  &__rightcolumn {
    @media (min-width: $tablet) {
      width: 40%;
    }
  }

  &__img {
    width: 100%;
    align-self: center;

    @media (min-width: $mobile) {
      width: 80%;
    }
    @media (min-width: $tablet) {
      width: 60%;
      margin-right: 2 * $margin;
      max-width: 800px;
    }
  }

  &__text {
    &--bottom {
      margin-bottom: $margin;
    }
  }

  &__a {
    color: $call-to-action-cyan;
    text-decoration: none;
    border-bottom: 2px solid $call-to-action-cyan;
    padding-bottom: 0.2 * $padding;
  }
}
