$mobile: 375px;
$desktop: 1440px;

$bg-intro-email: hsl(217, 28%, 15%);
$bg-main: hsl(218, 28%, 13%);
$bg-footer: hsl(216, 53%, 9%);
$bg-reviews: hsl(219, 30%, 18%);

$call-to-action-cyan: hsl(176, 68%, 64%);
$call-to-action-blue: hsl(198, 60%, 50%);
$white: hsl(0, 0%, 100%);

$font-size: 14px;

$font-family: "Raleway", sans-serif;

$padding: 1em;
$margin: 1em;

// ### Headings, Call-to-actions, Header Navigation
